@font-face {
	font-family: "Poppins";
	src: url(fonts/Poppins-SemiBold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "OpenSans";
	src: url(fonts/OpenSans-Regular.ttf);
	font-weight: 400, 700;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins;
	font-weight: bold;
	color: hsl(192, 100%, 9%);
}

h1 {
	font-size: 2rem;
}

p,
a {
	font-family: OpenSans;
	margin-bottom: 20px;
	color: hsl(192, 100%, 9%);
}

main {
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: auto;
	z-index: 1;
}

.hero {
	background-image: url(images/bg-hero-desktop.svg);
	padding: 30px 50px;
	height: 100vh;
	background-color: hsl(193, 100%, 96%);
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
/* .trail {
	margin-left: 500px;
} */

.hero-main {
	display: flex;
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.hero-main .info {
	width: 40%;
	margin-right: 50px;
}

.hero-main .hero-img {
	width: 60%;
}
.hero-img {
	height: 600px;
	width: 100%;
	background-image: url(images/illustration-mockups.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
button {
	font-family: OpenSans;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 40px;
	border-radius: 15px;
	border: 0;
}
.btn-white {
	background-color: white;
	box-shadow: 0px 3px 10px rgb(165, 165, 165);
}
.btn-pink {
	margin-top: 20px;
	color: white;
	background-color: hsl(322, 100%, 66%);
}
/* Landing VH Ends */

/* Main body starts */

.main-body {
	display: grid;
	padding: 100px 60px;
	grid-template-areas:
		"grow"
		"flow"
		"users";
	gap: 30px;
}

.main-body h1 {
	margin-bottom: 10px;
}

.grow-together {
	grid-area: grow;
}

.flowing-conv {
	grid-area: flow;
}

.your-users {
	grid-area: users;
}

.box {
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgb(221, 221, 221);
	padding: 50px 20px 50px 100px;
	display: flex;
	align-items: center;
}

/* Illustration Images Definitions */

.grow-img {
	background-image: url(images/illustration-grow-together.svg);
}

.flow-img {
	background-image: url(images/illustration-flowing-conversation.svg);
}

.users-img {
	background-image: url(images/illustration-your-users.svg);
}
.box-info {
	width: 60%;
}
.box-img {
	width: 40%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
}

.right {
	margin-right: 100px;
}

.left {
	margin-left: 100px;
}

.overflow-box {
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px rgb(194, 194, 194);
	padding: 60px;
	width: 60%;
	justify-items: center;
	align-items: center;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}

.overflow-box button {
	padding: 40px 100px;
	font-size: 1.5rem;
}

/* Main body ends */
/* Footer Starts */

footer {
	background-color: hsl(192, 100%, 9%);
	padding: 60px;
	color: white;
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	justify-content: space-around;
}
footer p,
a {
	color: white;
	font-size: 12px;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-base {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#contacts {
	width: 30%;
}

.contact {
	display: flex;
}

.contact svg {
	width: 10%;
}
.contact p {
	width: 90%;
}

.footer-links {
	width: 25%;
	display: flex;
	justify-content: space-between;
}

.footer-links a:hover {
	text-decoration: underline;
}

.socials-copyright {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.socials i {
	padding-right: 20px;
}

.socials a:hover {
	color: hsl(322, 100%, 66%);
}

li {
	display: block;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: white;
}

/* Footer ends */
@media (max-width: 375px), (orientation: portrait) {
	/* hero starts */
	.hero {
		background-image: url(images/bg-hero-mobile.svg);
		text-align: center;
	}
	.hero-main {
		flex-direction: column;
	}
	.hero-main .info {
		width: 100vw;
		margin-bottom: 50px;
	}
	.hero-main .hero-img {
		width: 100%;
	}

	/* hero ends */

	/* main-body starts */
	.main-body {
		text-align: center;
	}

	.box {
		display: grid;
		padding: 50px;
	}
	.box-info,
	.box-img {
		width: 100%;
	}

	/* will have to remove this line. */
	/* After converting the widescreen to grid display */

	.right,
	.left {
		margin-right: 0;
		margin-left: 0;
	}

	.grow-together {
		grid-template-areas:
			"grow-info"
			"grow-img";
	}
	.grow-together .box-info {
		grid-area: grow-info;
	}
	.grow-together .box-img {
		grid-area: grow-img;
	}

	.flowing-conv {
		grid-template-areas:
			"flow-info"
			"flow-img";
	}
	.flowing-conv .box-info {
		grid-area: flow-info;
	}
	.flowing-conv .box-img {
		grid-area: flow-img;
	}

	.your-users {
		grid-template-areas:
			"users-info"
			"users-img";
	}
	.your-users .box-info {
		grid-area: users-info;
	}
	.your-users .box-img {
		grid-area: users-img;
	}

	.overflow-box {
		padding: 50px 10px;
		width: 80%;
		justify-items: center;
		align-items: center;
		margin: auto;
		text-align: center;
	}
	.overflow-box button {
		padding: 20px 50px;
		font-size: 0.8rem;
	}
	/* main-body ends */

	/* footer starts */
	footer {
		padding: 30px;
	}

	footer p,
	a {
		font-size: 16px;
	}

	.footer-logo {
		margin-bottom: 10px;
	}

	.footer-base {
		flex-direction: column;
	}

	#contacts {
		width: 100%;
	}

	.footer-links {
		flex-direction: column;
		width: 100%;
	}
	.socials {
		padding: 0;
		margin-bottom: 20px;
	}
	.socials-copyright {
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	/* footer ends */
}
